body {
    background-color: #008080;
}

.window {
    position: absolute;
}

.windowTab {
    cursor: move;
    position: absolute;
    background: grey;
    border: grey;
}

.windowContent {
    position: relative;
    background-color: white;
    border: black;
}

.windowContent p {
    margin: 0;
}

#theBigButton {
    position: relative;
    top: 33.33%;
    left: 33.33%;
    background: none;
    border: none;
    padding: 0;
    width: 100px;
    height: 100px;
}

#theBigButton img {
    width: 100%;
    height: 100%;
}

#theBigButton:hover img {
    width: 95%;
    height: 95%;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}
