body {
    background-color: #008080;
}

.window {
    position: absolute;
}

.windowTab {
    cursor: move;
    position: absolute;
    background: grey;
    border: grey;
}

.windowContent {
    position: relative;
    background-color: white;
    border: black;
}

.windowContent p {
    margin: 0;
}

.hackWindow {
    position: absolute;
}

.hackTab {
    cursor: move;
    position: absolute;
    background: crimson;
    border: grey;
}

.hackContent {
    position: relative;
    background-color: black;
    border: black;
}

.hackContent p {
    margin: 0;
    color: white;
}

.hackContent h3 {
    margin: 0;
    color: white;
}

.hackContent h1 {
    margin: 0;
    color: white;
}

.hackShop {
    background: black;
}

#theBigButton {
    position: relative;
    top: 33.33%;
    left: 33.33%;
    background: none;
    border: none;
    padding: 0;
    width: 100px;
    height: 100px;
}

#theBigButton img {
    width: 100%;
    height: 100%;
}

#theBigButton:hover img {
    width: 95%;
    height: 95%;
}

#theHackButton {
    position: absolute;
    top: 175px;
    left: calc(50% - 75px);
    background: none;
    border: none;
    padding: 0;
    width: 150px;
    height: 150px;
}

#theHackButton img {
    width: 100%;
    height: 100%;
}

#theHackButton:hover img {
    width: 95%;
    height: 95%;
}

#hackProgress {
    position: absolute;
    left: calc(50% - 40px);
    top: calc(30% - 8px)
}

#contractDisplay {
    position: absolute;
    left: calc(50% - 105px);
    top: calc(50% - 105px)
}

#contractProgress {
    position: absolute;
    width: 160px;
    height: 32px;
    left: calc(50% - 80px);
    top: calc(50% + 100px);
}

meter::-webkit-meter-optimum-value {
    background-color: crimson;
}

.floatLeft {
    float: left;
}

.hFloatLeft {
    float: left;
    color: white;
}

.floatRight {
    float: right;
}
