#connectInfo {
    border-style: solid;
    width: fit-content;
    text-align: center;
    overflow: hidden;
    margin: auto;
}

.floatLeft {
    float: left;
}

.checkButton {
    float: left;
    margin-top: 0px;
    margin-left: 10px;
}

.center {
    margin: auto;
    width: fit-content;
}

#connectButton {
    margin: auto;
}